body{
    background-color: black;
    color: white;
    /*padding-top: 50px;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 2em;
    position: relative;
}
@media(min-width: 992px){
  body > section:last-of-type{
    padding-bottom: 86px;
  }
}
.nav-bottom-fb > a{
  text-align: right;
}
a:link{
  color: white;
  text-decoration: none;
}
a:visited{
  color: #d2d2d2;
  text-decoration: none;
}
a:hover{
  color: #7daa4b;
  text-decoration: none;
}
a:active{
  color: #559e02;
  text-decoration: none;
}

h5,h6{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 36pt;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  font-size: 32pt;
}
h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0 0 10px 0;
}
h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0;
  font-size: 26pt;
}
.home{
  padding-top: 50px;
}
section{
  padding-top: 15px;
}
.description{
  padding-top: 15px;
}
.description a{
  margin-bottom: 10px;
}
.address{
  display: inline-block;
  vertical-align: top;
}
ul{
  list-style-type: none;
}
/**Header Nav**/
.navbar{
  width: 100%;
  z-index: 100;
  border-radius: 0;
  border: 0;
}
.navbar .container .navbar-brand{
  padding: 0 0;
  margin-left: 0;
}
header .navbar-inverse .navbar-nav a{
  color: white;
  /*padding: 5px 8px;*/
}
header .navbar-inverse .navbar-nav a:hover{
  color: #7daa4b;
  /*text-decoration: underline;*/
}
header .navbar-inverse .navbar-nav .active a{
  color: #559e02;
  border-bottom: 4px solid;
  background-color: transparent;
  font-weight: bold;
}
header .navbar-inverse .navbar-nav .active a:hover{
  color: #7daa4b;
  background-color: transparent;
}
/*header .navbar{
  padding: 30px 0;
}*/
header .navbar-toggle{
  background-color: #7daa4b !important;
}
.buri-logo{
  height: 54px;
}
@media(max-width: 768px){
  .buri-logo{
    height: 50px;
  }
}
/**Carousel**/
.fade{
  opacity: 1;
}
.fade .item{
  transition: opacity ease-out .7s;
  left:0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}
.fade .item:first-child{
  top: auto;
  opacity: 1;
  position: relative;
}
.fade .active{
  opacity: 1;
}
.carousel-control {
  opacity: 0;
}
.carousel .item{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.carousel-caption{
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 15px;
  left: 10%
}
/**Menu**/
.menu-cat{
  font-size: 22pt;
}
.menu-item{
  font-size: 18pt;
}
/**Footer Nav**/
footer .content{
  padding-top: 10px;
}
footer .visible-xs{
  margin-bottom: 0;
}
