body{
    background-color: black;
    color: white;
    /*padding-top: 50px;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 2em;
    position: relative;
}
h4,h5,h6{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 36pt;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}
h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0 0 10px 0;
}
section{
  padding-top: 50px;
}
.description{
  padding-top: 15px;
}
.fixed-address{
  text-align: right;
}
ul{
  list-style-type: none;
}
/*Header Nav*/
.navbar{
  width: 100%;
  z-index: 100;
  border-radius: 0;
  border: 0;
}
.navbar .container .navbar-brand {
    padding: 0 0;
    margin-left: 0;
}
.buri-logo{
    max-width: 100%;
    max-height: 100%;
}
header .navbar-inverse .navbar-nav a{
  color: white;
  /*padding: 5px 8px;*/
}
header .navbar-inverse .navbar-nav a:hover{
  color: #7daa4b;
  /*text-decoration: underline;*/
}
header .navbar-inverse .navbar-nav .active a{
  color: #559e02;
  border-bottom: 4px solid;
  background-color: transparent;
  font-weight: bold;
}
header .navbar-inverse .navbar-nav .active a:hover{
  color: #7daa4b;
  background-color: transparent;
}
/*header .navbar{
  padding: 30px 0;
}*/
/*Footer Nav*/
footer .content{
  padding-top: 10px;
}
footer .visible-xs{
  margin-bottom: 0;
}
.footer-padding{
  height: 86px;
}
/*Menu*/
.menu-item{
  font-size: 16pt;
}
